<div class="setka">
  <span>Вид:</span>
  {{ content.links.0 }}
  <button id="row" class="row-active">
    <img class="icon-row" src="/themes/clean/img/icons/plitka.svg" alt="spisok">
    <img class="icon-row-active" src="/themes/clean/img/icons/plitka-active.svg" alt="spisok-active">
  </button>
  {{ content.links.1 }}
  <button id="grid">
    <img class="icon-grid" src="/themes/clean/img/icons/spisok.svg" alt="plitka">
    <img class="icon-grid-active" src="/themes/clean/img/icons/spisok-active.svg" alt="plitka-active">
  </button>
</div>

